.gitignore
apicache-py3/
artists/
downloads2/
Ikke Piranesi/
throttle.ctrl
passwords.txt
*.*.pyc
*.log
*.html
*.odb
*.xlsx
user-config.py
__pycache__/
*.jpg
*.txt
commons_error.log
creators_smk.csv
creators_smk.csv
2022-08-17_testobjectmodel.html
2022-11-24_piranesi-kopi.html
2022-11-24_piranesi.html
2022-11-24_piranesi.json.png
2022-11-24_piranesi.pdf
2022-11-24_piranesi.python.png
2022-11-24_piranesi.wikitext.png
artwork_types_labels
creators_smk.csv
f_artists.csv
index.html
nationalities_smk.csv
object_names_smk.csv
type_smk.csv
wikidata_error.log
wikidata_smk.csv
creators_smk.csv
commons_error.log
object_names_smk.csv
object_names_smk.csv
wikidata_smk.csv
__pycache__/commons.cpython-37.pyc
.gitignore
piranesi/.flickrExclusion
throttle.ctrl
throttle.ctrl
pywikibot.lwp
throttle.ctrl
pywikibot.lwp
commons_error.log
_apicache-py3/*.*
_throttle.ctrl
pywikibot-WLKBot.lwp
pywikibot.lwp
throttle.ctrl
user-config.py
commons_error.log
backup_*.zip
creator_lref_to_wikidata.unsorted.numbers
type_smk_old.csv
all_public_domain_images.csv
all_public_domain_images.html
all_works.csv
all_works.html
category_mapping_smk - smk_wikidata.csv
commons_smk_part_001.csv
commons_smk_part_002.csv
commons_smk_part_003.csv
commons_smk_part_004.csv
commons_smk_total.csv
commons_smk.csv
commons_smk.html
danish_female_public_domain_images.csv
danish_female_public_domain_images.html
f_artists.csv
wikidata_worksby_smk.csv
all_public_domain_images.csv
all_public_domain_images.csv
all_works.html
all_public_domain_images.csv
all_public_domain_images.html
creators_smk_old.csv
nationalities_smk_old.csv
object_names_smk_old.csv
smk_artists_wikidata.csv
smk_artwork_types_to_wikidata.csv
smk_materials_to_wikidata.csv
smk_object_names_to_wikidata.csv
SMK_person_to_wikidata_map.srt.csv
SMK_person_to_wikidata_map.uniq.csv
SMK_person_to_wikidata_map.unq.csv
SMK_person_to_wikidata.csv
