apicache-py3/
artists/
downloads2/
Ikke Piranesi/
throttle.ctrl
passwords.txt
.gitignore
*.*.pyc
*.log
*.csv
*.html
*.odb
*.xlsx
user-config.py
user-config.py
__pycache__/
*.jpg
*.txt
commons_error.log
creators_smk.csv
creators_smk.csv
2022-08-17_testobjectmodel.html
2022-11-24_piranesi-kopi.html
2022-11-24_piranesi.html
2022-11-24_piranesi.json.png
2022-11-24_piranesi.pdf
2022-11-24_piranesi.python.png
2022-11-24_piranesi.wikitext.png
artwork_types_labels
creators_smk.csv
f_artists.csv
index.html
nationalities_smk.csv
object_names_smk.csv
type_smk.csv
wikidata_error.log
wikidata_smk.csv
__pycache__/commons.cpython-37.pyc
__pycache__/smkapi.cpython-37.pyc
__pycache__/wikidata.cpython-37.pyc
__pycache__/commons.cpython-37.pyc
__pycache__/smkapi.cpython-37.pyc
__pycache__/wikidata.cpython-37.pyc
commons_error.log
creators_smk.csv
commons_error.log
object_names_smk.csv
object_names_smk.csv
type_smk.csv
type_smk.csv
type_smk.csv
wikidata_smk.csv
__pycache__/commons.cpython-37.pyc
2022-07-05 all_works.html
2022-07-07_all_works.html
2022-08-12_danish_female_artists.html
__pycache__/commons.cpython-37.pyc
2022-12-03_smkbot_test_batch.html
2022-12-03_smkbot_test_batch.html
2022-12-03_smkbot_test_batch.html
2023-01-04_WLKBot_test.html
2022-12-03_smkbot_test_batch.html
2022-12-03_smkbot_test_batch.html
2022-12-06_WLKBot_test.html
2022-12-03_smkbot_test_batch.html
.gitignore
__pycache__/commons.cpython-37.pyc
__pycache__/smkitem.cpython-37.pyc
piranesi/.flickrExclusion
__pycache__/commons.cpython-37.pyc
__pycache__/commons.cpython-37.pyc
throttle.ctrl
2023-04-29_WLKBot_test.html
commons_error.log
__pycache__/smkitem.cpython-37.pyc
throttle.ctrl
__pycache__/wikidata.cpython-37.pyc
__pycache__/commons.cpython-37.pyc
__pycache__/commons.cpython-37.pyc
commons_error.log
.gitignore
commons_error.log
pywikibot.lwp
throttle.ctrl
__pycache__/smkapi.cpython-37.pyc
pywikibot.lwp
commons_error.log
